
/* Universal css design for the page */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.a{
    text-decoration: none;
}

/* end  */

/* Header Part */
.front{

    display: flex;
    padding: 100px 150px;
    overflow: hidden;
    background: #2D25A0;
    
}
.messege{
    width: 50%;
    font-size: 64px;
    color: white;
}
.messege a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;

   font-size: 16px;
    color: white;
    font-weight: 500;
}
.messege a i{
    size: 24px;
    padding-left:20px;
}
.banner img{
    width: 700px;
   
    transition: width 5s ease 1s, transform 5s ;
}

.banner img:hover{
    width: 700px;
    transform: rotate(360deg);
}

/* End of header */

/* Design for Body section */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    padding: 5% 15%;
}
.player{
    text-align: left;
   padding: 5%;
 
}
.player img{
    
    width:100%;
    height: 300px;
    display: 100%;
}
.player h3{
    font-size: 28px;
    margin: 0px;
    text-align: left;
}
.player p{
    font-size: 16px;
    width: 400px;
    text-align: left;
    white-space: pre-line;
    color: #6C6C6C;
}

/* Blog Design */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(182, 226, 255);
    margin-bottom: 100px;
}

.blog{
    display: flex;  
    padding: 10px;
}
.blog .thumbnail img{
    width: 400px;
    height: 300px;
 
}
.blog-info{
    margin-left: 15px;
}
.blog-info a{
    text-decoration: none;
    color: #ff5722;
}
.blog-head{
    font-size: 48px;
    text-align: center;
    color: rgb(56, 159, 207);
}
.blog-head h2{
    text-align: center;
}

.blog p{
    color: rgb(21, 194, 194);
    white-space: pre-line;
}

/* Blog Design ends */

/* Newsteller Design */
.newsteller{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.signup{
    display: flex;
    flex-direction: column;
    background-color: #756cfabe;
    padding: 20px 150px;
    border-radius: 5%;
}
.signup input, button{
    font-size: 1em;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    
}

.signup button{
    background-color: rgba(14, 35, 82, 0.877);
    color: white;
    font-weight: 600;
}
/* End of newsteller */

/* End of body Section */

/* Design for Tablet and similar screens */
.footer{
    text-align: center;
    
}
.logo{
    padding-bottom: 20px;
}

.footer a{
    color: rgb(149, 149, 168);
    
    padding:10px;
    background-color: rgb(225, 233, 255);
   
    border-radius: 50%;
    margin: 0 7px;;
}
.footer a i{
    width: 32px;
    height: 32px;
    
}
.copyright{
    padding-top: 20px;
    padding-bottom: 60px;
    
}



/* Media design for Tablet and similar screens */

@media (max-width: 800px) {
    
    .front{
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0px 0px;
    }
    .messege{
        width: 100%;
        font-size: 25px;
        padding-bottom: 20px;
        padding: 30px 0px;
    
    }
    .messege a{
      
        padding: 0px 5px;
    
       font-size: 16px;
       
    }
    .banner img{
       width: 300px;
    }

    .players{
        width: 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .blog{
        flex-direction: column;
    }
    .logo img{
        width: 300px;
      

    }
    
}

/* Media design for Mobile and similar screens */

@media (max-width: 500px) {

    .banner img{
        width: 300px;
       
        transition: width 5s ease 1s, transform 5s ;
    }
    
    
    .banner img:hover{
        width: 300px;
        transform: rotate(360deg);
    }

}